AURORA_ENV=staging
AURORA_BASE_URL=https://sandbox-inbot-aurora.vercel.app
AURORA_KEYCLOAK_URL=https://keycloak.staging.e-auth.cloud/realms/stg-inprofile
AURORA_EMAIL=
AURORA_PASSWORD=
LOG_LEVEL=info
